name: build

on:
  push:
    branches:
      - master
      - 'renovate/**'

  pull_request:

env:
  LATEST_FLAVOR: bionic
  DRY_RUN: ${{ github.ref != 'refs/heads/master' }}
  # https://github.com/chalk/supports-color/issues/106
  FORCE_COLOR: true

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        flavor: [bionic, focal]

    env:
      FLAVOR: ${{ matrix.flavor }}

    steps:
      - uses: actions/checkout@v2.3.3

      - name: Docker registry login
        if: ${{github.ref == 'refs/heads/master'}}
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build and Publish (no flavor)
        if: ${{ env.FLAVOR == env.LATEST_FLAVOR }}
        uses: renovatebot/internal-tools@v0
        with:
          command: docker-builder
          build-args: FLAVOR
          # prune: true
          dry-run: ${{ env.DRY_RUN }}

      - name: Build and Publish
        uses: renovatebot/internal-tools@v0
        with:
          command: docker-builder
          build-args: FLAVOR
          # prune: true
          tag-suffix: ${{ env.FLAVOR }}
          dry-run: ${{ env.DRY_RUN }}
